<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="Signup"><a href="#">Signup</a></li>
  <li role="login"><a href="#">Login</a></li>
  <li role="Rentals"><a href="#">Rentals</a></li>
</ul>
